<br>
<br>
<!--<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="float: right;">-->
    <!--<div class="list-group" >-->
        <!--<a href="index" class="list-group-item active">-->
            <!--<button type="button" class="btn btn-block btn-info" aria-label="Left Align">-->
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true">监控系统</span>-->
            <!--</button>-->
        <!--</a>-->
        <!--<a href="regist" class="list-group-item">-->
        <!--<button type="button" class="btn btn-block btn-info" aria-label="Left Align">-->
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true">注册</span>-->
            <!--</button>-->
        <!--</a>-->
        <!--<a href="login" class="list-group-item">-->
          <!--<button type="button" class="btn btn-block btn-info" aria-label="Left Align">-->
                <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true">{{user}}</span>-->
            <!--</button>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>&lt;!&ndash;/.sidebar-offcanvas&ndash;&gt;-->